body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #55381f;
}

.navbar {
    background-color: #333;
    height: 80px;
    color: #ffffff;
    padding: 0px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 3;
}

.logo {
    font-size: 1.5em;
    font-weight: bold;
}

.logo img {
    width: 25%;
}

.navbar .nav {
    display: flex;
    justify-content: space-evenly;
    height: inherit;
}

.navbar .nav a {
    color: white;
    display: block;
    text-decoration: none;
    padding: 0px;
    transition: color 0.3s;
    width: 100%;
    height: 100%;
    align-content: center;
    text-align: center;
}

.navbar .nav a:hover {
    color: #4caf50;
}

.navbar .nav-item {
    height: inherit;
    align-content: center;
    width: 100px;
    position: relative;
}

.navbar .nav-item:hover a {
    color: #4caf50;
}

.navbar .nav-item::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    background-color: #4caf50;
    width: 0;
    transition: ease-in 0.2s;
}

.navbar .nav-item:hover::after {
    width: 100%;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 45px
}

.banner {
    display: flex;
    gap: 30px;
    align-items: center;
    width: 100%;
    background-color: #5d4530;
}

#banner-image {
    max-width: 50%;
}

.banner-inner {
    display: flex;
    gap: 60px;
    align-items: center;
    width: 100%;
}

.banner-text {
    font-size: 70px;
    font-family: "Brush Script MT";
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 30px;
    color: white;
}

.banner-button {
    width: 400px;
    height: 100px;
    background-color: white;
    padding-left: 20px;
    align-content: center;
    color: black;
}

.banner-button:hover {
    background-color: #4caf50;
    color: white;
    transition: ease-in 0.1s;
    cursor: pointer;
}

.banner-logo {
    justify-self: center;
    text-align: center;
    position: relative;
    width: 400px;
    z-index: 1;
}

.banner-logo::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    padding-bottom: 100%;
    background-color: white;
    border-radius: 50%;
    z-index: -1;
}

.banner-logo img {
    max-width: 80%;
}

.info {
    display: flex;
    justify-content: space-evenly;
    background-color: #55381f;

}

.info-card {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-bottom: 20px;
    justify-content: space-between;
    min-height: 30vh;
    max-height: fit-content;
    width: 15vw;
    background-color: rgb(92, 92, 92);

}

.info-image {
    width: inherit;
    background-color: rgb(68, 68, 68);
    padding-bottom: 20px;
    position: relative;
}

.info-image img {
    max-width: 100%;
    transition: filter 0.15s;
}

.info-image-text {
    position: absolute;
    opacity: 0;
    background-color: white;
    color: black;
    width: fit-content;
    padding: 10px 20px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: opacity 0.15s ease-in-out;
}

.info-image-text:hover {
    background-color: #4caf50;
    color: white;
}

.info-image:hover {
    filter: brightness(80%);
}

.info-image:hover .info-image-text {
    opacity: 1;
    cursor: pointer;
}

.info-text {
    color: white;
    padding: 0px 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 15px;
}

.info-text-title {
    font-size: 30px;
}

.info-text-title:hover {
    color: #4caf50;
    cursor: pointer;
}

.info-text-separator {
    content: "";
    width: 70%;
    height: 3px;
    background-color: #4caf50;
}

.about_us {
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color: #5d4530;
    z-index: 0;
}

.about_us-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
    width: 30%;
    margin: auto;
    color: white;
}

.about_us-title {
    font-size: 70px;
    font-family: "Brush Script MT";
}

.about_us-cover {
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    height: 500px;
    width: 60%;
}

.about_us-cover::before {
    content: "";
    position: absolute;
    background-image: url(./imagenes_exportadas/barista.webp);
    background-size: cover;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
}

.about_us-content {
    width: 400px;
    display: flex;
    flex-direction: column;
    padding-left: 40px;


}

.about_us-contact {
    font-size: 70px;
    font-family: "Brush Script MT";
    color: white;
}

.about_us-filler {
    color: white;
    padding-bottom: 20px;
}


.about_us-button {
    padding: 20px;
    background-color: white;
    width: fit-content;
}

.about_us-button:hover {
    background-color: #4caf50;
    color: white;
    cursor: pointer;
}

.footer {

}

footer {
    background-color: #333;
    height: 100px;
    color: white;
    padding: 0px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
        }
        footer p {
            margin: 5px 0;
        }


h3 {
    margin: 0;
}