body {
    margin: 1;
    font-family: Arial, sans-serif;
    background-color: #704e30;
    
}


.navbar {
    background-color: #333;
    height: 80px;
    color: white;
    padding: 0px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0; 
}

.logo {
    font-size: 1.5em;
    font-weight: bold;
    
}

.logo img{
    width: 25%;
}

.navbar nav{
    display: flex;
    justify-content: space-evenly;
    height: inherit;
}

.navbar nav a {
    color: white;
    text-decoration: none;
    padding: 0 15px;
    transition: color 0.3s;
    
}

.navbar nav a:hover {
    color: #4CAF50;
}

.navbar .nav-item{
    height: inherit;
    align-content: center;
    width: fit-content;
    position: relative;
}

.navbar .nav-item:hover a{
    color: #4CAF50;
}

.navbar .nav-item::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    background-color: #4CAF50;
    width: 0; 
    transition: ease-in 0.2s;
}

.navbar .nav-item:hover::after{
    width: 100%;
}

main {

}

.banner{
    display: flex;
    align-items: center;
    width: 100%;
}

.banner img{

}

.banner-text{
    font-size: 70px;
    font-family: "Brush Script MT";
    width: inherit;
    text-align: center;
}

.banner-text-top{
    color: #4CAF50;
}

h1 {
    text-align: center;
    margin-bottom: 40px;
}

section {
    padding: 50px 0;
    margin-bottom: 20px;
}

h2 {
    margin-top: 0;
}