body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #704e30;
}

.navbar {
  background-color: #333;
  height: 80px;
  color: white;
  padding: 0px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
}

.logo {
  font-size: 1.5em;
  font-weight: bold;
}

.logo img {
  width: 25%;
}

.navbar .nav {
  display: flex;
  justify-content: space-evenly;
  height: inherit;
}

.navbar .nav a {
  color: white;
  display: block;
  text-decoration: none;
  padding: 0px;
  transition: color 0.3s;
  width: 100%;
  height: 100%;
  align-content: center;
  text-align: center;
}

.navbar .nav a:hover {
  color: #4caf50;
}

.navbar .nav-item {
  height: inherit;
  align-content: center;
  width: 100px;
  position: relative;
}

.navbar .nav-item:hover a {
  color: #4caf50;
}

.navbar .nav-item::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  background-color: #4caf50;
  width: 0;
  transition: ease-in 0.2s;
}

.navbar .nav-item:hover::after {
  width: 100%;
}

main {
}

.banner {
  display: flex;
  gap: 30px;
  align-items: center;
  width: 100%;
  background-color: #5d4530;
}

.banner-inner {
  display: flex;
  gap: 60px;
  align-items: center;
  width: 100%;
}

.banner-text {
  font-size: 70px;
  font-family: "Brush Script MT";
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 30px;
  color: white;
}

.banner-button {
  width: 400px;
  height: 100px;
  background-color: white;
  padding-left: 20px;
  align-content: center;
  color: black;
}

.banner-button:hover {
  background-color: #4caf50;
  color: white;
  transition: ease-in 0.1s;
  cursor: pointer;
}

.banner-logo {
  justify-self: center;
  text-align: center;
  position: relative;
  width: 400px;
  z-index: 100;
}

.banner-logo::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  padding-bottom: 100%;
  background-color: white;
  border-radius: 50%;
  z-index: -1;
}

.banner-logo img {
    width: 80%;
}

h1 {
  text-align: center;
  margin-bottom: 40px;
}

section {
  padding: 50px 0;
  margin-bottom: 20px;
}

h2 {
  margin-top: 0;
}
